.directoryBar{
  display: flex;
  justify-content: center;
  width: 300px;
  flex-direction: column;
}

.main{
  display: flex;
  flex-direction: row;
}

.chatInput {
  color:black;
  height: 10%;
  position: relative;
  float:right;
}

.form-group {
  display: inline;
  position: relative;
  left: 10px;
}

#profile {
  display: relative;
  width: 30px;
}

#joinCall {
  font-size: 2em;
}

.teamwork {
  padding-top: 5px;
  background-color: #88b1ed;
  color: white;
  height: 20%;
  margin-left: 15px;
  width: 300px;
  text-align: center;
}

.dashboard {
  padding-top: 20px;
  background-color: #88b1ed;
  margin-top: 30px;
  color: white;
  height: 30%;
  margin-left: 40px;
  width: 250px;
  text-align: center;
}

.screen{
  height: 500px;
  width: 800px;
  position: relative;
  top: 163px;
  left: 0px;
  font-size: 25px;
}

.lessonButton{
  height: 40px;
  position: absolute;
  top: 600px;
  right: 350px;
}

.inputText{
  visibility: hidden;
  position: absolute;
  top: 160px;
  width: 500px;
  height: 300px;
}

.points {
  font-size: 2em;
}
