.title{
    color: white;
    margin-left: 10px;
    padding-left: 20px;
    background: #88b1ed;
    width: 195px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.title:hover{
    cursor: pointer;
    background: #4b80ed;
}

body{
    margin-left: 20px;
}
