Home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }
 
 #img
 {
    margin: 50px;
 }
 .h2
 {
    align-content: center;
 }
 #logo
 {
    height:115px;
    width: 250px;
 }
